.attribution {
  color: $Very-dark-desaturated-blue;
  font-size: 1.2rem;
  text-align: center;

  @include respond(mobile-m) {
    font-size: 1.4rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
