* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: $Dark-cyan;

  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 40vw bottom 40vh, left 40vw top 40vh;

  @include respond(mobile-m) {
    background-position: right 51vw bottom 40vh, left 49vw top 52vh;
  }
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
